// Colors
$background-color: #FFAB91;
$primary-color: #0f3460;
$text-color: #333;
$secondary-text-color: #666;


// Fonts
$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Libre Caslon Text', serif;

// Other variables
